
#pone {font-family:'amatic sc';
    font-size:20px; 
    border-style:solid;
    border-color:coral;
    border-radius: 15px;
    border-width:5px;
    padding: 5px;
}
#ptwo { font-family:'Geneva';
    font-size:20px;
    border-style:dotted;
    border-width:5px;
    border-color:#018f81;
}
.imgthree { width:500px;
    margin:20px;
}
.container1 {
    position: relative;
  text-align: center;
  border-style: solid;
  border-color: orange;
  border-width: 5px;
  border-radius: 20px;
  width: 540px;
}
.centered-text { position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:50px;
    color:whitesmoke;
    font-family:'allan';
}
.imgfour { width:500px;
    margin:20px;
    float:right;
}
.pthree {
    font-size: 40px;
    font-family:'allan'; 
    float:left;
    margin-left:200px;
    margin-top:15%;
}